body {
  background-color: rgb(242, 245, 245);
  border: 1px solid black;
}

.header {
  border-bottom: 1px solid black;
}

.title {
  font-weight: 500;
  border: 1px solid black;
  background-color: #cac5c573;
  width: 15rem;
  height: 3rem;
  text-align: center;
  margin-left: 1rem;
}
.posts {
  color: rgb(31, 29, 29);
  border: 1px solid black;
  width: 15rem;
  text-align: center;
  margin-left: 1rem;
}

.list-content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  padding-top: 2rem;
  gap: 2rem;

  &__list {
    list-style: none;
    padding-right: 2rem;
  }

  &__title-post {
    font-family: 500;
    margin-left: 1rem;
  }

  &__list-post {
    width: 35rem;
    border: 0.0625rem solid #413f3f;
    position: relative;
  }

  &__add-post {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--button-color {
    padding: 0.625rem;
    font-size: 1rem;
    color: #fff;
    background-color: #808688;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    width: 5rem;
  }

  &--button-color:hover {
    background-color: rgb(99, 102, 105);
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #413f3f;
  border-radius: 5px;
  height: 20rem;
  width: 40rem;

  &__form-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  &__form-detail {
    margin-left: 3rem;
    margin-bottom: 3rem;
  }

  &__label-input {
    margin-left: 1.2rem;
  }

  &__label-content {
    margin-top: 1rem;
  }

  &__wrapper-butons {
    display: flex;
    justify-content: center;
  }

  &__button-delete {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__button-add {
    margin-left: 1rem;
  }
}

input {
  width: calc(100% - 150px);
  border: 1px solid #9b9494;
  border-radius: 0.2rem;
  height: 2.2rem;
  margin-left: 2rem;
}

button {
  text-align: center;
}
